@model OnlineRegistration.Models.Department

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Department", FormMethod.Post, new { @class = "InfoForm" }))
{
    @Html.HiddenFor(x=>x.DepartmentId)
    <div class="wraper">
        <div class="left">
            <span>Department Name:</span>
        </div>
        <div class="right">
            @Html.TextBoxFor(x => x.DepartmentName, new { @class = "fullwidth" })
        </div>

    </div>
    <div class="wraper">

        <div class="left">
            <span>Department Code:</span>
        </div>
        <div class="right">
            @Html.TextBoxFor(x => x.DepartmentCode, new { @class = "fullwidth" })
        </div>
    </div>
    <div class="wraper">

        <div class="left">

        </div>
        <div class="right">
            <input type="submit" value="Submit" />
        </div>
    </div>
}


