
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/Emp_Layout.cshtml";
}

                                          <h2>About</h2>
                            <p>This Site Developed By Ashim Dey</p>

